.navigation {
  padding: 0.5%;
  background-color: #eeede7;
  border-bottom: 1rem solid #868b8e;
}

.action_buttons{
  padding: 3%;
}

.grid {
  display: grid;
  gap: 0.5px;
}
  
.cell {
  background: white;
  border: 0.05px solid black;
}

.cell[path=true] {
  background: #e7d2cc;
}

img {
  padding:2px;
}