@import "animations.css";

.navigation {
  padding: 0.5%;
  background-color: #eeede7;
  border-bottom: 1rem solid #868b8e;
}

.action_buttons{
  padding: 3%;
}

.grid {
  display: grid;
}
  
.cell {
  background: white;
  border: 0.05px solid black;
}

.cell[jump=true], .jump_legend {
  background: #a7d8de;
}

.cell[path=true], .legend .path_legend {
  background: #e7d2cc;
}

.cell[path=true] {
  animation-name: pathHighlight;
  animation-duration: 2s;
}

.cell[path=true][jump=true], .jump_path_legend {
  background: repeating-linear-gradient(
  45deg,
  #e7d2cc,
  #e7d2cc 3px,
  #81b4bb 3px,
  #81b4bb 5px
);
}

/* duplicate simple selectors to increase specificity */
.cell.cell.cell[wall=true], .legend .wall_legend {
  background: #868b8e;
}

img {
  padding:2px;
}

/* Disable selection from grid, for whole page use: "html *{" */
.grid {
  /*-webkit-touch-callout: none; /* iOS Safari */
  /*-webkit-user-select: none;   /* Chrome/Safari/Opera */
  /*-khtml-user-select: none;    /* Konqueror */
  /*-moz-user-select: none;      /* Firefox */
  /*-ms-user-select: none;       /* Internet Explorer/Edge*/
   user-select: none;          /* Non-prefixed version, currently 
                                  not supported by any browser */
}

/* basic positioning */
.legend {
  list-style: none;
}
.legend li {
  margin-right: 20px;
  display: inline-block;
}
.legend span, .legend img{
  /* border: 0.5px solid black; */
  float: left;
  width: 12px;
  height: 12px;
  margin: 2px;
}
